<component name="ArtifactManager">
  <artifact type="war" name="mybatisplusspringdemo:war">
    <output-path>$PROJECT_DIR$/../mybatisplusspringdemo/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>mybatisplusspringdemo</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="mybatisplusspringdemo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatisplusspringdemo:war exploded" />
    </root>
  </artifact>
</component>